CRM.Data/bin
CRM.Data/obj

CRM.Inf/bin
CRM.Inf/obj
CRM.Inf/App.config
CRM.Inf/packages.config

CRM.App/bin
CRM.App/obj
CRM.App/App.config
CRM.App/packages.config

CRM.Model/bin
CRM.Model/obj
CRM.Model/csproj

CRM/bin
CRM/obj

ClientProducer/bin
ClientProducer/obj

StatusToFileProducer/bin
StatusToFileProducer/obj

CRM/CRM.csproj.user